body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #81a17a;
  padding: 15px 25px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 15px;
}

.logo span {
  font-family: "Dancing Script", serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin-right: 30px;
}

.nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat", serif;
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: #dfffe0;
}





.main {
  display: flex;
  padding: 20px;
}

.left {
  width: 50%;
}

.stats {
  display: flex;
  justify-content: space-between; /* Kutular arasındaki boşluklar eşit */
  align-items: center;
  margin: 20px auto;
  width: 85%; /* Satırın genişliğini ekranın %85'ine ayarlar */
  gap: 20px; /* Kutular arasındaki mesafeyi artırır */
}

.stat1,
.stat2,
.stat3 {
  background-color: #e8e8e8;
  padding: 20px; /* Kutuların iç boşlukları */
  border-radius: 10px;
  text-align: center;
  flex: 1; /* Kutuların eşit genişlikte olmasını sağlar */
  min-width: 250px; /* Minimum genişlik */
  max-width: 350px; /* Maksimum genişlik */
  padding-left: 100px;
  margin-left: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.stat1 h3,
.stat2 h3,
.stat3 h3 {
  margin: 0;
  text-align: center;
  padding-right: 80px;
  font-size: 16px; /* Başlık boyutunu artırır */
  color: #444;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.stat1 p,
.stat2 p,
.stat3 p {
  margin: 10px 0 0;
  text-align: center;
  padding-right: 80px;
  font-size: 20px; /* Metin boyutunu artırır */
  font-weight: bold;
}

.map {
  text-align: center;
  margin-top: 20px;
}

.right {
  width: 50%;

  padding-left: 10px;
  margin: 150px;
}

.table-container,
.additional-info {
  margin-bottom: 100px;
  margin-top: 70px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.table th {
  background-color: #ddd;
  font-weight: bold;
  color: #444;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* Şubeler Sayfası Özel CSS */
.content {
  display: flex;
}

.map-container {
  flex: 1;
  text-align: center;
  width: 700px;
  height: 700px;
  margin-top: 50px;
}

.map-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.info-container {
  flex: 1;
  padding-left: 20px;
}

.branch-info {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.branch-info h2 {
  margin-bottom: 20px;
}

.nav {
  background-color: #81a17a;
}
.logo span {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}
.profile {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
}

.logout-button {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  z-index: 1000;
  text-align: center;
}

.logout-button:hover {
  background-color: #f0f0f0;
}

.profile:hover .logout-button {
  display: block;
}

.profile img {
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  margin-right: 10px;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}